{% extends "paginas/base.html" %}

{% block titulo %} Lista de Facturas {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-info" href="{% url 'Idear' %}" role="button">Agregar nueva Factura</a>
    </div>

    <div class="card-body">
        <h4 class="card-title">Buscar Facturas</h4>
        <form method="get" action="{% url 'Facturas' %}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre de la factura" name="search_query">
                <button class="btn btn-outline-info" type="submit">Buscar</button>
            </div>
        </form>

        <!-- Botón para regresar a la tabla completa -->
        <a href="{% url 'Facturas' %}" class="btn btn-info">Mostrar Todas</a>

        <h4 class="card-title">Facturas</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Maestro</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Facturas in datos %}
                        <tr>
                            <td>{{ Facturas.numero }}</td>
                            <td>{{ Facturas.nombre }}</td>
                            <td>{{ Facturas.maestro }}</td>
                            <td>{{ Facturas.detalle }}</td>
                            <td>
                                <a href="{% url 'Revisar' Facturas.numero %}" class="btn btn-info" role="button">Editar</a>
                                |  
                                <a href="{% url 'Quitar' Facturas.numero %}" class="btn btn-danger" role="button">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}