{% extends "paginas/base.html" %}

{% block titulo %} Informacion del Grupo {% endblock %}

{% block contenido %} 

<div style="font-size: 45px; color: blue; font-weight: bold;">
 Grupo No. 10
</div>

<div style="font-size: 45px; color: white; font-weight: bold;">
 Gracias por ser parte de la Aplicacion web
</div>

<!-- Agregar una imagen desde la web con tamaño 20x20 píxeles -->
<img src="https://img.freepik.com/vector-gratis/logo-abstracto-empresa-tecnologica-degradado_52683-9702.jpg?size=338&ext=jpg&ga=GA1.1.1687694167.1703721600&semt=ais" alt="Recuerdo" width="245" height="245" style="border: 2px solid red;">

{% endblock %}