<form method="post" action="{% url 'Idear' %}" enctype="multipart/form-data" style="background-size: cover;">
 {% csrf_token %}
 <input type="hidden" name="ruta_xml" value="{{ ruta_xml }}">
 
 <div class="form-group">
     <label for="numero">Numero:</label>
     <input type="text" name="numero" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="nombre">Nombre:</label>
     <input type="text" name="nombre" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="maestro">Maestro:</label>
     <input type="text" name="maestro" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="detalle">Detalle:</label>
     <input type="text" name="detalle" class="form-control" required>
 </div>

 <button type="submit" class="btn btn-primary">Agregar Datos</button>

 <a href="{% url 'Facturas' %}" class="btn btn-secondary">Cancelar</a>

</form>


