<form method="post" action="{% url 'Fundar' %}" enctype="multipart/form-data" style="background-size: cover;">
 {% csrf_token %}
 <input type="hidden" name="ruta_xml" value="{{ ruta_xml }}">
 
 <div class="form-group">
     <label for="numero">Numero:</label>
     <input type="text" name="numero" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="Nombre">Nombre:</label>
     <input type="text" name="nombre" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="descripcion">Descripcion:</label>
     <input type="text" name="descripcion" class="form-control" required>
 </div>
 
 <div class="form-group">
     <label for="Precio">Precio:</label>
     <input type="text" name="precio" class="form-control" required>
 </div>

 <div class="form-group">
  <label for="stock">Stock:</label>
  <input type="text" name="stock" class="form-control" required>
</div>

 <button type="submit" class="btn btn-primary">Agregar Datos</button>
</form>


