body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-left: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.3s;
  position: relative;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff8c00;
  transform: scaleX(0);
  transition: transform 0.3s;
}

nav ul li a:hover {
  color: #ff8c00;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.window-name {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#clientes {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

#clientes:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#productos {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

#productos:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#facturas {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

#facturas:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#clientes h2,
#productos h2,
#facturas h2 {
  font-size: 30px;
}

#clientes ul li,
#productos ul li,
#facturas ul li {
  font-size: 20px;
}